<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Net.Appclusive.Net.Client" switchName="SourceSwitch" >
        <listeners>
          <add name="DefaultTraceListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitchOff" value="Off"/>
      <add name="SourceSwitchError" value="Error"/>
      <add name="SourceSwitchWarning" value="Warning"/>
      <add name="SourceSwitchInfo" value="Info"/>
      <add name="SourceSwitchVerbose" value="Verbose"/>
      <add name="SourceSwitchAll" value="All"/>
    </switches>
    <sharedListeners>
      <add name="DefaultTraceListener"
           type="System.Diagnostics.DefaultTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
    </sharedListeners>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="DefaultTraceListener"
             type="System.Diagnostics.DefaultTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"	/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>