<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="biz.dfch.CS.Commons" publicKeyToken="ddc350d26de1d0d9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.12.0.28845" newVersion="1.12.0.28845" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>