<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="net_Appclusive_PS_Client" type="Net.Appclusive.PS.Client.ModuleContextConfigurationSection, Net.Appclusive.PS.Client" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <net_Appclusive_PS_Client
    apiBaseUri="http://appclusive.example.com/api"
    credential="admin|p@ssw0rd"
  />
</configuration>
